@import './variables.scss';

.about__wrapper {
    max-width: 1120px;
    @media (min-width: $sm-resolution) {
        margin: 0 auto;
        width: 79%;
    }
    @media (min-width: $xl-resoluiton) {
        margin: 0 auto;
        max-width: 1120px;
    }
    @include wrapper-margin-bottom();
}

.about__title {
    @include subtitle();
    margin-bottom: 70px;
    @media (min-width: $lg-resolution) {
        margin-bottom: 125px;
    }
}

.about__list {
    display: flex;
    flex-direction: column;
    @media (min-width: $sm-resolution) {
        flex-direction: row;
        justify-content: space-between;
    }
    @media (min-width: $lg-resolution) {
        // padding: 0 14%;
    }
    @media (min-width: $xl-resoluiton) {
        // padding: 0 17%;
    }
}

.about__item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 70px;
    max-width: 200px;
    @media (min-width: $sm-resolution) {
        margin-bottom: 0;
    }
    @media (min-width: $md-resolution) {
        max-width: 215px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &--age {
        @media (min-width: $sm-resolution) {
            width: 155px;
        }
        @media (min-width: $lg-resolution) {
            width: 195px;
        }
    }
    &--count {
        @media (min-width: $sm-resolution) {
            width: 135px;
        }
        @media (min-width: $lg-resolution) {
            width: 190px;
        }
    }
}

.about__name {
    position: relative;
    margin-bottom: 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    text-align: center;
    background: -webkit-linear-gradient(79.63deg, #16153A 1.08%, #7E488C 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media(min-width: $lg-resolution) {
        margin-bottom: 25px;
        font-size: 64px;
    }
    &--age {
        &::before {
            position: absolute;
            content: '';
            top: -32px;
            left: 35px;
            width: 80px;
            height: 75px;
            background: url('./../img/about1.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            opacity: 0.7;
            z-index: -1;
            @media (min-width: $sm-resolution) {
                top: -45px;
                left: 15px;            
                width: 98px;
                height: 92px;
            }
            @media (min-width: $lg-resolution) {
                top: -51px;
                left: -43px;
                width: 136px;
                height: 129px;
            }
        }
    }
    &--days {
        &::before {
            position: absolute;
            content: '';
            top: -31px;
            left: 48px;
            width: 84px;
            height: 70px;
            background: url('./../img/about2.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            opacity: 0.5;
            z-index: -1;
            @media (min-width: $sm-resolution) {
                top: -45px;
                left: 27px;
                width: 110px;
                height: 94px;
            }
            @media (min-width: $lg-resolution) {
                top: -59px;
                left: -17px;
                width: 159px;
                height: 157px;
            }
        }
    }
    &--count {
        &::before {
            position: absolute;
            content: '';
            top: -41px;
            left: 40px;
            width: 101px;
            height: 99px;
            background: url('./../img/about3.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            opacity: 0.7;
            z-index: -1;
            @media (min-width: $sm-resolution) {
                top: -59px;
                left: -26px;
                width: 128px;
                height: 126px;
            }
            @media (min-width: $lg-resolution) {
                top: -64px;
                left: -63px;
                width: 159px;
                height: 157px;
            }
        }
    }
}

.about__description {
    @include body();
    color: $purple-dark;
}