@import './variables.scss';

.feedback__wrapper {
    padding-top: 80px;
    margin-bottom: 90px;
    background: $linear-purple;
    @media (min-width: $sm-resolution) {
        display: flex;
        justify-content: space-between;
        margin: 0 3%;
        margin-bottom: 40px;
        padding-top: 60px;
        border-radius: 30px;
    }
    @media (min-width: $md-resolution) {
        margin-bottom: 85px; 
    }
    @media (min-width: $lg-resolution) {
        max-width: 1560px;
        margin: 0 auto;
        margin-bottom: 85px;
        padding-top: 160px;
    }
}

.feedback__main-container {
    flex-grow: 1;
    @media (min-width: $sm-resolution) {
        max-width: 420px
    }
    @media (min-width: $md-resolution) {
        margin-left: 7%;
    }
}

.feedback__title {
    @include subtitle();
    margin-bottom: 8px;
    color: $white;
    @media (min-width: $lg-resolution) {
        margin-bottom: 10px;
    }
}

.feedback__description {
    @include body();
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
    width: 65%;
    color: $white;
    @media (min-width: $lg-resolution) {
        margin-bottom: 40px;
    }
}

.feedback__form {
    display: flex;
    flex-direction: column;
}

.feedback__input {
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 0 18px;
    width: 89%;
    height: 47px;
    border: none;
    border-radius: 10px;

}

.feedback__button {
    @include button();
    align-self: flex-start;
    margin-left: 5.5%;
    margin-bottom: 16px;
    width: 89%;
    height: 47px;
    max-width: 320px;
    background: $purple-regular;
    color: $white;
    &:hover, &:focus {
        background: $purple-dark;
    }
}

.feedback__label {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 89%;
    color: $white;
    opacity: 0.6;
    a {
        color: $white;
        text-decoration: none;
        opacity: 1.0;
    }

    @media (min-width: $sm-resolution) {
        margin-bottom: 63px;
    }
    @media (min-width: $lg-resolution) {
        margin-bottom: 164px;
    }
}

.feedback__terms {
    margin: 0;
    margin-right: 8px;
}

.feedback__img-container {
    display: flex;
    justify-content: end;
    
    @media (min-width: $sm-resolution) {
        margin-top: 120px;
        margin-bottom: -80px;
    }
    @media (min-width: $md-resolution) {
        margin-top: 80px;
    }
    @media (min-width: $lg-resolution) {
        margin-top: 0;
    }
}

.feedback__img {
    margin-bottom: -80px;
    @media (min-width: $sm-resolution) {
        margin-bottom: 0;
        width: 334px;
        height: 255px;
    }
    @media (min-width: $md-resolution) {
        width: 468px;
        height: 352px;
    }
    @media (min-width: $lg-resolution) {
        width: 690px;
        height: 490px;
    }
    @media (min-width: $xl-resoluiton) {
        width: 800px;
        height: 470px;
    }
}
