@import './variables.scss';

.footer__wrapper {
    width: 88%;
    margin: 0 auto;
    max-width: 1400px;
    @media (min-width: $sm-resolution) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 94%;
    }
    @media (min-width: $lg-resolution) {
        width: 92%;
    }
}

.footer__logo {
    margin-bottom: 10px;
    transform: translate(-5px,-10px);
}

.footer__socials-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.footer__socials-list {
    display: flex;
}

.footer__socials-item {
    margin-right: 16px;

    img {
        &:hover, &:focus {
            opacity: 0.8;
        }
    }
}

.footer__address {
    @include body();
    max-width: 300px;
    text-align: left;
    opacity: 0.6;
}

.footer__nav-container {
    margin-bottom: 40px
}

.footer__nav-item {
    @include body();
    margin-bottom: 16px;
    text-align: left;
}

.footer__nav-link {
    color: $black;
    opacity: 0.6;
    text-decoration: none;
    &:hover, &:focus {
        text-decoration: underline;
    }
    &--disabled {
        opacity: 0.4;
        &:hover, &:focus {
            cursor: default;
            text-decoration: none;
        }
    }
}

.footer__contacts-container {
    margin-bottom: 57px;
    width: 262px;
}

.footer__contacts-item {
    @include body();
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 16px;
    opacity: 0.6;
    &:last-child {
        opacity: 1;
        &:hover, &:focus {
            opacity: 0.6;
        }
    }
}

.footer__contacts-link {
    margin-left: 6px;
    color: $black;
    text-decoration: none;
    &:hover, &:focus {
        opacity: 0.8;
    }
}

.footer__description {
    @include body();
    position: relative;
    margin-bottom: 14px;
    text-align: left;
    opacity: 0.6;
    &::before {
        position: absolute;
        content: '';
        display: block;
        top: -16px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $black;
        opacity: 0.6;
    }
    @media (min-width: $sm-resolution) {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 24px;
        text-align: center;
    }
    @media (min-width: $lg-resolution) {
        margin-bottom: 46px;
    }
}