@import 'variables.scss';

.header__container {
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
}

.header__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 5%;
    margin-bottom: 10px;
    padding-top: 10px;
    @media (min-width: $sm-resolution) {
        padding: 0 3%;
        margin-bottom: 20px;
        padding-top: 10px;
    }
    @media (min-width: $md-resolution) {
        padding: 0 4%;
        margin-bottom: 20px;
        padding-top: 20px;
    }
}

.header__logo {
    margin-right: auto;
}

.header__nav {
    display: none;
    position: absolute;
    left: 0;
    top: 59px;
    padding: 40px 5%;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    background-color: white;
    z-index: 2;
    @media (min-width: $md-resolution) {
        position: static;
        display: flex;
        padding: 0;
        align-items: center;
        height: auto;
    }
}

@keyframes open {
    0% { 
        opacity: 0; 
        transform: translateY(-75px);
    }
    100% { 
        opacity: 1; 
        transform: translateY(0px);
    }
}

.header__nav--open {
    display: block;
    animation-name: open;
    animation-duration: 0.5s;
}

.header__nav--close {
    display: none;
    transition: top 0.4s, opacity 0.4s;
    @media (min-width: $md-resolution) {
        display: flex;
    }
}

.header__list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    @media (min-width: $md-resolution) {
        display: flex;
        width: 100%;
    }
}

.header__button {
    position: relative;
    width: 16px;
    height: 2px;
    background-color: $black;
    border: none;
    border-radius: 0.5px;
    &::after {
        position: absolute;
        content: '';
        top: 4px;
        left: 0;
        width: 13px;
        height: 2px;
        background-color: $black;
        border: none;
        border-radius: 0.5px;
    }
    &::before {
        position: absolute;
        content: '';
        bottom: 4px;
        left: 0;
        width: 16px;
        height: 2px;
        background-color: $black;
        border: none;
        border-radius: 0.5px;
    }
    @media (min-width: $md-resolution) {
        display: none;
    }
}

.header__menu-list-container {
    @media (min-width: $md-resolution) {
        display: flex;
        margin: 0 auto;
        align-items: center;
    }
}

.header__item {
    position: relative;
    margin-bottom: 16px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    &--button {
        margin-top: 40px;
        margin-bottom: 32px;
    }
    @media (min-width: $md-resolution) {
        padding: 0;
        margin: 0;
        margin-left: 40px;
        font-weight: 400;
        font-size: 16px;
        color: $black;
    }
}

.header__item-link {
    text-decoration: none;
    color: $purple-dark;
    &:hover, &:focus {
        text-decoration: underline;
    }
    &--disabled {
        opacity: 0.6;
        &:hover, &:focus {
            cursor: default;
            text-decoration: none;
        }
    }
}

.header__button--request {
    @include button();
    width: 100%;
    background: $lite-gradient;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    @media (min-width: $md-resolution) {
        width: 200px;
        height: 50px;
        background: $purple-regular;
        color: $white;
        &:hover, &:focus {
            background: $purple-dark;
            text-decoration: none;
        }
    }
}

.header__contacts-list {
    margin-top: 40px;
    @media (min-width: $md-resolution) {
        display: none;
    }
}

.header__contacts-item {
    margin-bottom: 15px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: $black;
    opacity: 0.6;
    a {
        padding-left: 26px;
        text-decoration: none;
        color: $black;
    }
    &--email {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            top: 2px;
            left: 0;
            width: 18px;
            height: 18px;
            background-image: url('./../img/email.svg');
            background-repeat: no-repeat;
        }
    }
    &--phone {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            background-image: url('./../img/phone.svg');
            background-repeat: no-repeat;
        }
    }
}