@import './variables.scss';

.help__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 80px 0;
    background: linear-gradient(79.63deg, #16153A 1.08%, #7E488C 100%);
    @media (min-width: $sm-resolution) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 94%;
        border-radius: 30px;
    }
    @media (min-width: $lg-resolution) {
        margin-bottom: 160px;
        max-width: 1560px;
        width: 92%;
    }
    @include wrapper-margin-bottom()
}

.help__description-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    @media (min-width: $sm-resolution) {
        order: 2;
        margin-bottom: 0;
    }
}

.help__title {
    @include subtitle();
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
    width: 89%;
    color: $white;
    @media (min-width: $sm-resolution) {
        margin-left: 0;
        width: 270px;
        text-align: left;
    }
    @media (min-width: $md-resolution) {
        width: 385px;
    }
    @media (min-width: $lg-resolution) {
        width: 540px;
        text-align: left;
    }
}

.help__description {
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
    width: 89%;
    max-width: 320px;
    @include body();
    color: $white;
    @media (min-width: $sm-resolution) {
        margin-left: 0;
        max-width: 310px;
        text-align: left;
    }
    @media (min-width: $md-resolution) {
        margin-botton: 32px;
        max-width: 385px;
    }
    @media (min-width: $lg-resolution) {
        max-width: 540px;
    }
}

.help__button {
    margin: 0 auto;
    width: 89%;
    max-width: 320px;
    @include button();
    @media (min-width: $sm-resolution) {
        margin: 0;
        margin-right: auto;
    }
    &:hover, &:focus {
        background: $white-gradient;
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
    }
}

.help__img-container {
    margin-right: 54px;
    @media (min-width: $sm-resolution) {
        order: 1;
    }
}

.help__img {
    display: block;
    margin: 0 auto;
    @media (min-width: $lg-resolution) {
        width: 267px;
        height: 264px;
    }
}